/* icon container */

.form-type-icon-field .icon-bundles-icons > .fieldset-wrapper,
.form-type--icon-field .icon-bundles-icons > .fieldset__wrapper {
  width: 100%;
  max-height: 175px;
  overflow-y: auto;
}

.form-type-icon-field .form-radios,
.form-type--icon-field .form-radios {
  display: flex;
  flex-flow: row wrap;
}

/* icon form items */

.form-type-icon-field .form-type-radio,
.form-type--icon-field .form-type--radio {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px !important;
}

/*input*/

.form-type-icon-field .form-type-radio input,
#drupal-off-canvas .form-type-icon-field .form-type-radio input,
#drupal-off-canvas-wrapper .form-type-icon-field .form-type-radio input,
.form-type--icon-field .form-type--radio input,
#drupal-off-canvas .form-type--icon-field .form-type--radio input,
#drupal-off-canvas-wrapper .form-type--icon-field .form-type--radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  float: none;
  transform: none;
}

/* label */

.form-type-icon-field .form-type-radio label,
#drupal-off-canvas-wrapper .form-type-icon-field .form-type-radio label,
.form-type--icon-field .form-type--radio label,
#drupal-off-canvas-wrapper .form-type--icon-field .form-type--radio label {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.form-type-icon-field .form-type-radio label > span,
#drupal-off-canvas-wrapper .form-type-icon-field .form-type-radio label > span,
.form-type--icon-field .form-type--radio label > span,
#drupal-off-canvas-wrapper .form-type--icon-field .form-type--radio label > span {
  line-height: 1;
}

/* svg */

.form-type-icon-field .form-type-radio label svg,
#drupal-off-canvas-wrapper .form-type-icon-field .form-type-radio label svg,
.form-type--icon-field .form-type--radio label svg,
#drupal-off-canvas-wrapper .form-type--icon-field .form-type--radio label svg {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
  background: transparent;
  position: relative;
  z-index: 1;
}

/* input - checked */

.form-type-icon-field .form-type-radio input:checked,
#drupal-off-canvas-wrapper .form-type-icon-field .form-type-radio input:checked,
.form-type--icon-field .form-type--radio input:checked,
#drupal-off-canvas-wrapper .form-type--icon-field .form-type--radio input:checked {
  outline: solid 3px #277abd;
  background: #277abd;
}

.form-type-icon-field .form-type-radio input:checked + label svg,
.form-type--icon-field .form-type--radio input:checked + label svg {
  fill: white;
  color: white;
}

